<div ng-show=Chapter2>

  <div ng-show="soup">
    <h3>eat soup and feel refreshed, get on your computer
    <a ng-click="addPoints(); Chapter1 = true; computer = true" ui-sref="story.chapter1({option: 'computer'})">computer </a>
    </h3>
  </div>

  <div ng-show="cry">
    <h3>lorem ipsum  etc computer <a ng-click="subtractPoints(); Chapter2 = true; option1 = true" ui-sref="story.chapter2({option: 'option1'})">option one </a>
    <a ng-click="addPoints(); Chapter2 = true; option2 = true" ui-sref="story.chapter2({option: 'option2'})">option 2</a>
    </h3>
  </div>

  <div ng-show="stack">
    <h3>lorem ipsum  etc computer <a ng-click="subtractPoints(); Chapter2 = true; option1 = true" ui-sref="story.chapter2({option: 'option1'})">option one </a>
    <a ng-click="addPoints(); Chapter2 = true; option2 = true" ui-sref="story.chapter2({option: 'option2'})">option 2</a>
    </h3>
  </div>

</div>

<div ui-view></div>
